body {
    background:#000;
    color: #c3c3c3;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 32px;
}

th {
    cursor: pointer;
    text-align: right;
}

th.alignleft {
    text-align: left;
}

td[data-value] {
    text-align: right;
}

#alchtable tr.item_row td img {
    height:32px;
    width:32px;
}

.fav-btn {
    cursor: pointer;
    font-size:1rem;
    vertical-align: middle;
}

.btn-secondary.active.fav-on {
    color: gold;
}

.item_row[data-fav="true"] .fav-on {
    display: inline-block;
    visibility: visibile;
}

.item_row[data-fav="true"] .fav-off {
    display: none;
    visibility: hidden;
}

.item_row[data-fav="false"] .fav-on {
    display: none;
    visibility: hidden;
}

.item_row[data-fav="false"] .fav-off {
    display: inline-block;
    visibility: visibile;
}